{% extends "zavrel/base.html" %}
{% load static %}
{# {% load ontotags %} #}

{% block navbar %}

	{% include 'zavrel/navbar.html' %}

{% endblock navbar %}





{% block bodycontent %}



<div class="row">


	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
		<h1><a class="quietlink" href="{% url 'zavrel:home' %}">A Dream in Venice</a></h1>

		<p>by Štěpán Zavřel</p>


		
		{% if page %}
		<!-- SINGLE PAGE -->

		<div class="row">

			<hr>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4>{{page.0}}</h4>
				<p class="lead">{{page.1|safe}}</p>
			</div>
		
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				
				{% if is_last %}
				<a href="{% url 'zavrel:home' %}">
				{% else %}
				<a href="{% url 'zavrel:pages' nextpage_no %}">
				{% endif %}
					
					<img src="{% static '' %}img/page{{page.0}}.jpeg" class="img-responsive" alt="Image" width="100%;">
				</a>
			</div>

		</div>

			
		{% else %}
		<!-- BOOK INDEX  -->

		<div class="row">
			<hr>

			<div class="container">
			

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						{% for n, t in alltext.items  %}
						<a class="quietlink" href="{% url 'zavrel:pages' n %}"><b>{{n}}</b>&nbsp;<span class="">{{t|striptags|truncatewords:10}}</span></a><br />
						{% endfor %}
					</div>
				
					
					<div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
						<a href="{% url 'zavrel:pages' 1 %}">
							<img src="{% static '' %}img/bookcover.jpeg" class="img-responsive" alt="Image">
						</a>
					</div>

				</div>

				
			
			</div>

		</div>
			
		{% endif %}
			


		

	</div>
	


</div> <!-- end of row -->




<div class="row">
	&nbsp;
	<br />
	&nbsp;
</div>


{% endblock bodycontent %}
